@{
    Layout = null;
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/Assets/css/adminlte.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section id="main-content">
    <section class="wrapper">

        <div id="layoutSidenav">

            <div id="layoutSidenav_content">
                <main>

                    <div class="container-fluid px-4">
                        <section class="panel">
                            <header class="panel-heading" style="font-size:200%">
                                Invoices
                                <br /><br />
                            </header>
                            <div class="panel-body">
                                <!-- title row -->
                                <div class="row">
                                    <div class="col-12">
                                        <h2>
                                            <img src="~/Assets/img/cross.png" alt="Health4U" width="50" height="50">
                                            Hospital Taman Desa
                                            <small class="float-right">Date: 2/10/2014</small>
                                        </h2>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info">
                                <div class="col-sm-4 invoice-col">
                                    From
                                    <address>
                                        <strong>Health4 U.Inc</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        Phone: 6011-112345324<br>
                                        Email: glye@gmail.com
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">
                                    To
                                    <address>
                                        <strong>Hospital Taman Desa</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        Phone: (804) 123-5432<br>
                                        Email: info@almasaeedstudio.com
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">
                                    <b>Invoice 007612</b><br>
                                    <br>
                                    <b>Order ID:</b> 4F3S8J<br>
                                    <b>Bill Date:</b> 2/22/2021<br>
                                    <b>Admin ID:</b> S0001<br>

                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <!-- Table row -->
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Product</th>
                                                <th>SubscribeMonth</th>
                                                <th>PricePerMonth</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                           
                                            <tr>
                                                <td>1</td>
                                                <td>Platinum</td>
                                                <td>2</td>
                                                <td>RM500</td>
                                                <td>RM1000</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <!-- accepted payments column -->
                                <div class="col-6">
                                    <p class="lead">Payment Methods:</p>
                                    <img src="~/Assets/img/credit/visa.png" alt="Visa">
                                    <img src="~/Assets/img/credit/mastercard.png" alt="Mastercard">
                                    <img src="~/Assets/img/credit/american-express.png" alt="American Express">
                                    <img src="~/Assets/img/credit/paypal2.png" alt="Paypal">


                                </div>
                                <!-- /.col -->
                                <div class="col-6">

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th style="width:50%">Subtotal:</th>
                                                <td>RM1000</td>
                                            </tr>
                                            <tr>
                                                <th>Tax (9.3%)</th>
                                                <td>$10.34</td>
                                            </tr>

                                            <tr>
                                                <th>Total:</th>
                                                <td>RM1010.34</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </main>
            </div>
        </div>
    </section>
</section>

<script>
    window.addEventListener("load", window.print());
</script>