<link href="~/Assets/css/style.css" rel="stylesheet" />
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">


<<div id="layoutSidenav">

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <section class="panel">
                    <header class="panel-heading" style="font-size:250%">
                        Disease Details
                    </header>
                    <br />

                    <picture style="margin-left:410px">
                        <source media="(min-width:850px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZeik8XT5S1UcBhGFa2I9l0nI9SPaMDNKr8g&usqp=CAU">
                        <source media="(min-width:665px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZeik8XT5S1UcBhGFa2I9l0nI9SPaMDNKr8g&usqp=CAU">
                        <img src="img_orange_flowers.jpg" alt="Flowers" style="width:auto;">
                    </picture>
                    <picture style="margin-left:50px">
                        <source media="(min-width:850px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSdmytbIkxu7tplTTEHzQeXgvASoO_Nijx3w&usqp=CAU">
                        <source media="(min-width:665px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSdmytbIkxu7tplTTEHzQeXgvASoO_Nijx3w&usqp=CAU">
                        <img src="img_orange_flowers.jpg" alt="Flowers" style="width:auto;">
                    </picture>

                    <br />

                    <br />

                    <div class="panel-body">

                        <form class="form-horizontal " method="get">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Disease ID</label>
                                <div class="col-sm-2">
                                    <input class="form-control" id="focusedInput" type="text" value="A1001">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="margin-top: 12px;">Disease Name</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="focusedInput" type="text" value="Fatigue">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="margin-top: 12px;">Description</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="focusedInput" type="text" value="Fatigue is a feeling of constant tiredness or weakness and can be physical, mental or a combination of both. ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="margin-top: 12px;">Symptons</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="focusedInput" type="text" value="Whiteheads,Blackheads,Small red">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="margin-top: 12px;">Treatment Ways</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="focusedInput" type="text" value="Topical medications,Oral medications,Therapies,Lifestyle and home remedies">
                                </div>
                            </div>





                        </form>
                        <div class="form-group">
                            <br />
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-success" style="text-align:center;margin-left: 400px;" type="submit">Edit</button>
                                <button class="btn btn-danger" style="text-align:center;margin-left: 70px;" type="button">Delete</button>


                            </div>
                            <br />

                            <br />

                        </div>
                    </div>
                </section>
                    </div>
                </main>
            </div>
        </div>
<script>
    function goBack() {
        window.history.back();
    }
</script>


<
