
@{
    ViewBag.Title = "Booking";
}
<div id="layoutSidenav">

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <section class="panel">
                    <header class="panel-heading" style="font-size:250%">
                        Rewards Details
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal " method="get">
                            <form class="form-horizontal " method="get">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">User ID</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="focusedInput" type="text" value="A10003">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">Completion Time</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="focusedInput" type="text" value="10/10/2019">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">Rewards ID</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="focusedInput" type="text" value="B1003">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">Shipping Address</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="focusedInput" type="text" value="Jalan Kacak Blok 4-4-3">
                                    </div>
                                </div>



                            </form>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-dark" style="text-align:center;margin-left: 400px;" type="submit">Edit</button>
                                    <button class="btn btn-danger" style="text-align:center;margin-left: 70px;" type="button">Delete</button>
                                </div>
                            </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</div>
