

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/pluggin/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link href="~/Assets/css/styles2.css" rel="stylesheet" />
</head>
<body>

    <div id="layoutSidenav">

        <div id="layoutSidenav_content">
            <main>

                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Sales Billings Report</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>

                                <tr>
                                    <th>Bill ID</th>
                                    <th>Corporate ID</th>
                                    <th>Bill Date</th>
                                    <th>Package</th>
                                    <th>SubscribeMonth</th>
                                    <th>AdminID</th>
                                    <th>Total</th>
                                    <th>Details</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Platinum</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a @Html.ActionLink("More", "Details", "Billing")</a></td>

                                </tr>
                                <tr>
                                    <td>A10002</td>
                                    <td>A1003</td>
                                    <td>Silver</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10003</td>
                                    <td>A1003</td>
                                    <td>Silver</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10004</td>
                                    <td>A1003</td>
                                    <td>Platinum</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10005</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10006</td>
                                    <td>A1003</td>
                                    <td>Platinum</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10007</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10008</td>
                                    <td>A1003</td>
                                    <td>Platinum</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10009</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10010</td>
                                    <td>A1003</td>
                                    <td>Silver</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10003</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10004</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10005</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10006</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>

                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Silver</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Platinum</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Platinum</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Gold</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                                <tr>
                                    <td>A10001</td>
                                    <td>A1003</td>
                                    <td>Platinum</td>
                                    <td>3</td>
                                    <td>B1003</td>
                                    <td>B1003</td>
                                    <td>1000</td>
                                    <td><a href="#">More</a></td>
                                </tr>
                   
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </main>
            </div>
        </div>
                <!-- /.card -->
                <!-- /.container-fluid -->
                <!-- jQuery -->
                <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
                <!-- Bootstrap 4 -->
                <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
                <!-- DataTables  & Plugins -->
                <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
                <script src="~/Assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
                <script src="~/Assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
                <script src="~/Assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
                <script src="~/Assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
                <script src=".~/Assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
                <script src="~/Assets/plugins/jszip/jszip.min.js"></script>
                <script src="~/Assets/plugins/pdfmake/pdfmake.min.js"></script>
                <script src="~/Assets/plugins/pdfmake/vfs_fonts.js"></script>
                <script src="~/Assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
                <script src="~/Assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
                <script src="~/Assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
                <!-- AdminLTE App -->
                <!-- AdminLTE for demo purposes -->
                <!-- Page specific script -->
                <script>
                    $(function () {
                        $("#example1").DataTable({
                            "responsive": true, "lengthChange": false, "autoWidth": false,
                            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                        $('#example2').DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "searching": false,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false,
                            "responsive": true,
                        });
                    });
                </script>
</body>

